@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bokor&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Siemreap&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.playfair-header {
  font-family: "Playfair Display", serif;

  font-weight: 400;
  font-style: normal;
}
.kantumruy-body {
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.siemreap-header {
  font-family: "Siemreap", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Playfair Display */
.playfair-display-regular {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: normal;
}

/* ===== ENGLISH ===== */
.lang-en {
  --font-heading: "Playfair Display", sans-serif;
  --font-body: "Rubik", sans-serif;
}

/* ===== KHMER ===== */
.lang-kh {
  --font-heading: "Siemreap", sans-serif;
  --font-body: "Kantumruy Pro", sans-serif;
}

/* Apply globally */
body {
  font-family: var(--font-body);
  font-size: 1rem;
  transition: font-family 0.25s ease; /* smooth font switch */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

